<!DOCTYPE html>
<html>
	<head>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<link rel="manifest" href="/manifest.json">
		<link rel="stylesheet" href="hanabiTracker.css" />
		<link rel="icon" sizes="192x192" href="hanabiTracker_192.png">
		<link rel="icon" sizes="512x512" href="hanabiTracker_512.png">
		<link rel="apple-touch-icon" sizes="512x512" href="hanabiTracker_512.png">
		<link rel="apple-touch-icon" sizes="192x192" href="hanabiTracker_512.png">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
	</head>
	<body ng-app="HT">
		<div ng-controller="hanabiTracker" class ="gridContainer">
			<div ng-repeat="card in cards">
				<button ng-repeat="color in colors"   ng-style="card.style(color)"  ng-click="card.pushButton(color)"> {{color}}</button>
				<button ng-repeat="number in numbers" ng-style="card.style(number)" ng-click="card.pushButton(number)">{{number}}</button>
				<button class = "clearButton" ng-click = "card.clear()">Play</button>
			</div>
		</div>
		
	<script src="script.js"></script>
	</body>
</html>
